.container-character {
    width: 293px;
    height: 1205px;
    border-radius: 15px;
    background-color: #E8E8E8;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.container-description {
    width: 207px;
    height: 160px;
    border-radius: 10px;
    background-color: $saturatedGrey;
    text-align: center;
}
.text-character {
font-family: 'Montserrat';
font-weight: 500;
font-size: 10px;
line-height: 13px;

}
.text-degree {
font-family: 'Montserrat';
font-weight: 500;
font-size: 14px;
line-height: 17px;

}
@media(min-width:768px){
    .container-character{
        width:634px;
        height: 490px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container-description {
        width:177px;
        height: 200px;
    }
    .text-character{
        font-size:12px;
        line-height: 15px;
    } 
    .text-degree{
        font-size: 16px;
        line-height: 20px;
    }
}
@media(min-width:1440px){
    .container-character{
        width: 1140px;
        height: 554px;
        border-radius: 20px;
    }
    .container-description{
        width:290px;
        height: 217px;
    }
    .text-degree{
        font-size: 32px;
    }
}